{% extends 'base.html' %}
{% block content %}
	<div class="main_content">
		<div class="container" style="height:1200px;padding-top:10px;">
			<ul class="list-group col-md-2 col-xs-3" id="obj_list">
			  <li class="list-group-item active">公司介绍</li>
			  <li class="list-group-item">成长历史</li>
			  <li class="list-group-item dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black">招贤纳才<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li id="1"><a href="#">GUI开发攻城师</a></li>
		            <li id="2"><a href="#">交易开发攻城师(可实习)</a></li>
		            <li id="3"><a href="#">策略研究员</a></li>
		            <li id="4"><a href="#">风控专员</a></li>
		            <li id="5"><a href="#">测试开发攻城师(可实习)</a></li>
		          </ul>
			  </li>
			  
			</ul>
			<div class="col-md-10 many-content col-xs-9" style="background-color: #fff;height: auto;padding-top:10px;">
				<!-- 公司介绍的内容 -->
			    <div class="media-body" id="construction">
			      <h4 class="media-heading" style="color:#339999;"><b>商羊资产</b></h4>
			      <p style="font-size:14px;margin-top:10px;">
			    	商羊资产公司于2014年成立，注册资本1000万人民币，福州、香港为研发中心，具有私募投资基金管理人登记证书，公司由国内外资本市场资深专业</p>
			      <p>人士发起成立，并吸收了多名在平台构建、数据挖掘、模型组合等专业领域有成熟技术的量化交易人才。汇聚金融、数学、物理、计算机等各领域人才,<br>主要以量化投资为主。</p>
				  <p>商羊资产福州研发部主要运营国内CTA，已成立《商羊盈信一号》，同时涉及A股。<br>香港研发部着眼环球金融市场。</p>	
			      
			      <h4 style="color:#339999"><b>社会价值</b></h4>
			      <p style="font-size:14px;">
			      	运用独特技术，帮助众多在期货金融市场难以盈利的个人或企业寻找合适的方法。
			      </p>
			      <h4 style="color:#339999"><b>公司使命</b></h4>
			      <p style="font-size:14px;">
			      	致力于运用专业的方法和实证经验，是经济全球化的趋势下发展壮大起来，为客户和合作机构创造价值。
			      </p>
			    </div>
				<!-- 成长历史的内容 -->
				<div class="panel panel-default history">
				  <!-- Default panel contents -->
				  <div class="panel-heading">成长历史</div>

				  <!-- Table -->
				  <table class="table">
				    <tr>
				    	<td class="green_td">公司成立</td>
				    	<td><span class="badge">2013</span></td>
				    </tr>
				    <tr>
				    	<td class="green_td">使用自有资金发行<<商羊试验1号>></td>
				    	<td><span class="badge">2014</span></td>
				    </tr>
				    <tr>
				    	<td class="green_td">使用自有资金发行<<商羊试验2号>></td>
				    	<td><span class="badge">2014</span></td>
				    </tr>
				    <tr>
				    	<td class="green_td">公开发行<<商羊盈信1号>></td>
				    	<td><span class="badge">2015</span></td>
				    </tr>
				    <tr>
				    	<td class="green_td">公开发行<<兴鑫商羊2号>></td>
				    	<td><span class="badge">2015</span></td>
				    </tr>
				  </table>
				</div>

				<!-- 招贤纳才的内容 -->
				<div class="job">
					<h4 style="color:#339999">招贤纳士</h4>
					<p>
						公司坐落于福建省福州市台江区，办公地点在广达路广达豪门A座12楼
					</p>
					<p>
						公司求贤若渴，殷切期待适合的优秀人才加入我们的团队，共谋事业，共同进步！加入我们吧，公司将给您提供有竞争力的薪酬、完善的福利计划以及广阔的职业发展机会！
					</p>
					<h2 style="height: 3px;width:100%;background-color:#ccc;"></h2>
					<h4 style="color:#c00132">期待你的职位:</h4>
					<div id="tab-obj1">
						<h5>应聘岗位：</h5>
						<p>GUI开发攻城师</p>
						<h5>应聘要求：</h5>
						<p>1.熟悉windows开发，至少熟悉一种图形开发框架</p>
						<p>2.熟悉git/svn或其他版本控制工具</p>
						<p>3.熟悉c++、c#、python,了解matlab等语言</p>
						<p>4.英文阅读能力良好，自学能力强，对技术抱有极大热情</p>
						<p>5.有开源项目/金融图形开发经验/在校获奖(算法编程)的优先</p>
						<h5>职责：</h5>
						<p>1.通过交易核心api与具体需求，定制成型操作界面</p>
						<p>2.连通底层开发，上层风控协调工作</p>
						<p>3.建立/完善公司GUI生态</p>
					</div>
					<div id="tab-obj2">
						<h5>应聘岗位：</h5>
						<p>交易开发攻城师</p>
						<h5> 应聘要求：</h5>
						<p>交易开发攻城师(可实习) </p>
						<p>1：熟悉windows/linux开发 </p>
						<p>2：熟悉c++/python跨平台开发 </p>
						<p>3：熟悉多线程/多进程/网络编程 </p>
						<p>4：英文阅读能力良好 </p>
						<p>5：有开源项目/在校获奖(算法编程)的优先</p>
						<h5>职责:</h5>
						<p>1：市场金融接口api接入开发 </p>
						<p>2：内部交易核心研发 </p>
						<p>3：协助策略员交易策略技术开发 </p>
					</div>
					<div id="tab-obj3">
						<h5>应聘岗位：</h5>
						<p>策略研究员</p>
						<h5> 应聘要求：</h5>
						<p>
							1.对金融市场数据进行搜集、分析和整理</p>
						<p>
							2.根据整理好的数据进行分析、深度和挖掘,分析并得出结论</p>
						<p>
							3.能独立完成数据搜集分析处理工作</p>
						<p>
							4.根据搜集的数据能编写实用性的程序化策略</p>
						<h5> 岗位职责：</h5>
						<p>
							1.全日制本科及以上学历（211,985工程学校优先）,金融工程、数学及计算机专业,熟悉matlab、python,了解其他编程语言</p>
						<p>
							2.能够熟练运用统计软件和编程工具,熟悉MT编程、文华、TB、金字塔</p>
						<p>
							2.对金融市场有浓厚兴趣,英语6级或看懂英文专业数据优先</p>
						<p>
							3.对数字敏感,头脑灵活,反应敏捷</p>
						<p>
							4.具备较强的学习能力,适应能力和团队合作精神</p>
						<p>
							5.年龄在28周岁以下,并有一定的相关工作经验</p>
					</div>
					<div id="tab-obj4">
						<h5>应聘岗位：</h5>
						<p>风控专员</p>
						<h5> 应聘要求：</h5>
						<p>
							1、负责每日交易过程中的交易风险控制</p>
						<p>
							2、每日跟踪盯市,监控交易风险,对交易异常情况进行记录和报告</p>
						<p>
							3、填写每日报告,总结月报告</p>
						<p>4、分析评估策略的优劣</p>
						<h5> 岗位职责：</h5>
						<p>
							1、数学,金融、计算机类专业,本科及以上学历</p>
						<p>
							2、对数字敏感,具有较强风险意识和风控能力</p>
						<p>
							3、有无工作经验均可,但要求工作认真细致,具有较强统计能力,好学上进心强,具有高度的职业道德和责任心</p>
					</div>
					<div id="tab-obj5">
						<h5>应聘岗位：</h5>
						<p>测试开发攻城师</p>
						<h5> 应聘要求：</h5>
						<p>1：熟悉windows/linux开发 </p>
						<p>2：熟悉c++/python跨平台开发 </p>
						<p>3：熟悉多线程/多进程/网络编程 </p>
						<p>4：英文阅读能力良好 </p>
						<p>5：了解测试开发的基本理念 </p>
						<p>6：有开源项目/测试开发经验/在校获奖(算法编程)的优先 </p>
						<p> </p>
						<h5>岗位职责：</h5>
						<p>1：针对底层api,设计测试用例,编写测试脚本 </p>
						<p>2：研究开发自动化测试框架 </p>
						<p>3：提供开发建议,协助处理上层反馈bug </p>
					</div>
					<p style="color:#c00132;">请发送你的简历到<strong>hr@syzcfund.com</strong></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
</body>