<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<style>
		.box_login{
			width: 500px;
			margin:100px auto;
			border:1px solid red;
			padding:20px;
		}
	</style>
</head>
<body>
	<div class="box_login">
		<h2>hello,{{ name }}</h2>
		<p>
			<lable>用户名：</lable><input type="text" />
		</p>
		<p>
			<label for="">密码：</label><input type="password" name="" id="" />
		</p>
		<p>
			<input type="submit" value="submit">
		</p>
	</div>
	
			
</body>
</html>